body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    height: 50px;
    width: 100vw;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_list{

    width: 40vw;
}

.header_list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

#name{
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pres{
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
    background-color: rgb(193, 193, 193);
    display: flex;
    justify-content: space-between;
}

#pres div img{
    height: 100%;

}

#journal{
    position: absolute;
top: 25%;

    background-color: blue;
    height: 70%;
    width: 20%;
    transform: skewY(-30deg);
    right: 0;
}

.journal_back{
    position: absolute;
    top: 25%;
    width: 20%;
    height: 70%;
    right: 25%;
    background-color: red;
    display: none;
}

#img{
    height: 50%;
    width: 70%;
    background-color: antiquewhite;
}

.anim_journal_open{
    position: absolute;
    animation: open_delivery_day forwards 2s ease-in-out;
}

@keyframes open_delivery_day{
    0%{
        right: 0%;
    }
    25%{
        right: 25%;
        transform: skewY(0deg);
    }
    37.5%{
        transform: rotateY(90deg);
        right: 35%;
    }
    75.5%{
        transform: rotateY(180deg);
        right: 45%;
    }
}

@keyframes close_delivery_day{
    0%{
        transform: rotateY(180deg);
        right: 45%;

    }
    25%{
        transform: rotateY(90deg);
        right: 35%;

    }
    37.5%{
        right: 25%;
        transform: skewY(0deg);
    }
    75.5%{

        right: 0%;
    }
}