body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    height: 50px;
    width: 100vw;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_list{

    width: 40vw;
}

.header_list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

#name{
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pres{
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
    background-color: rgb(193, 193, 193);
    display: flex;
    justify-content: space-between;
}

#pres div img{
    height: 100%;

}

#journal{
    margin-top: 2%;
    margin-right: 5%;
    background-color: blue;
    height: 70%;
    width: 20%;
    transform: skewY(-30deg);
}

#img{
    height: 50%;
    width: 70%;
    background-color: antiquewhite;
}

@keyframes